.tab {
  cursor: pointer;
  margin: 0 5px;
  .underline {
    text-decoration: underline;
  }
}

.flex {
  display: flex;
  .f-right {
    float: right;
  }
}

.length {
  border: 1px solid black;
  padding: 5px;
}

@media screen and (max-width: 427px) {
  .flex {
    display: block;
    .f-right {
      float: none;
    }
  }
}
  